/*
 Theme Name: GAIA Child
 Theme URI: https://tcd-theme.com/tcd102/
 Description: Child theme for GAIA (tcd102).
 Author: 大嵩 ユウタ
 Author URI: https://tcd-theme.com/
 Template: gaia_tcd102
 Version: 1.0
 Text Domain: gaia_tcd102_child
*/

/* ここから子テーマCSSを書く */
